<div class="container mystyle" *ngIf="product" >
  <div class="panel panel-primary">
    <div class="panel-heading">Product Info</div>
    <div class="panel-body">
      <form>

        <div class="form-group">
          <label class="control-label">Id</label>
          <label class="form-control" >{{product.id}}</label>
        </div>

        <div class="form-group">
          <label class="control-label">Designation</label>
          <label class="form-control" >{{product.designation}}</label>
        </div>

        <div class="form-group">
          <label class="control-label">Price</label>
          <label class="form-control"  >{{product.price}}</label>
        </div>

        <div class="form-group">
          <label class="control-label">Quantitie</label>
          <label class="form-control" >{{product.quantitie}}</label>
        </div>
        <div class="form-group">
          <label class="control-label">Date</label>
          <label class="form-control" >{{product.date| date:'medium'}}</label>
        </div>
        <div class="form-group">
          <label class="control-label">Last Update</label>
          <label class="form-control"  >{{product.lastUpdate| date:'medium'}}</label>
        </div>

        <button  class="btn btn-success" (click)="onModify(product)" >Modify</button>
        <button  class="btn btn-danger mystyle2"(click)="onDelete(product)" >Delete</button>
        <button  class="btn btn-primary mystyle2" routerLink="/product">Return</button>

      </form>
    </div>
  </div>
</div>
